{% extends "pages/.base.jinja" %}

{%block title%}404 Not Found{%endblock%}

{%block content%}
<div id="404">
      <h1 style="text-align: center; font-size: 6rem;"></h1style>404</h1>
      <p style="text-align: center; font-size: 1.5rem;">Oops! This page doesn’t exist.</p>
      <div style="text-align: center; margin-top: 2rem;">
        <a href="/" id="titleA">← Back to Home</a>
</div>
{%endblock%}